.White{
  color: white;
}

.Black{
  color: black;
}

.Blue{
  color: #3300CC;
}

.Green{
  color:#00ff7f;
}

.Red{
  color: #FF2652;
}

.Colorless{
  color: #B0B0B0;
}

.White.Red, .White.Green, .Blue.Red, .Blue.Green, .White.Black, .Black.Green, .Black.Red, .Blue.Black, .Black.Red, .Red.Green, .White.Blue{
  color: #FFD700;
}

#pooltitle{
  margin-top: 20px;
}

.pooltd{
  vertical-align: text-top;
  height: 200px;
  font-size: .85em;
}

.cards{
  margin-top: 60px;
  width:70%;
}

#highlightedcard{
  display: none;
  position: fixed;
  background-color: black;
  left: 52%;
  top: 20%;
  border-style: solid;
  border-width: 5px;
}
