
.White{
  color: white;
}

.Black{
  color: black;
}

.Blue{
  color: #3300CC;
}

.Green{
  color:#00ff7f;
}

.Red{
  color: #B22222;
}

.Colorless{
  color: #B0B0B0;
}

.White.Red, .White.Green, .Blue.Red, .Blue.Green, .White.Black, .Black.Green, .Black.Red, .Blue.Black, .Black.Red, .Red.Green, .White.Blue{
  color: #FFD700;
}


#pooltitle{
  margin-top: 20px;
}
