// Place all the styles related to the sample controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topmargin{
  margin-top: 60px;
}

.sealedcards{
  margin-top: 60px;
  width:70%;
}

#sealedpool{
  margin-top: 60px;
  padding-left:30px;
  vertical-align:top;
  height:100%;
}

.cardimage{
    cursor: pointer;
    margin: 4px;
}