<%= javascript_include_tag 'drafting/draftpage.js'%>
<div class = "cards">
  <div id = "highlightedcard"></div>
  <h3>Battle for Zendikar Draft</h3>
  <br>
  <div class = "cardpacksection">
    <%= react_component 'Draftpack', {cards: @cardpack}%>
  </div>
</div>
<div id="pool">
  <table id ="cardpooltable">
    <tr>
      <td class = "pooltd">
        <div id="draftedcards">
          <h3 id="pooltitle">Card pool</h3>
          <h4>Pack 1</h4>
        </div>
      </td>
    </tr>
    <tr>
      <td class = "pooltd">
        <div id="draftedcards2">
          <h4>Pack 2</h4>
        </div>
      </td>
    </tr>
    <tr>
      <td class = "pooltd">
        <div id="draftedcards3">
          <h4>Pack 3</h4>
        </div>
      </td>
    </tr>
</div>