<!DOCTYPE html>
<html>
<head>
  <title>MTGDrafter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!-- <footer>
  <h5>Card pool</h5>
  <table>
    <tr>
      <td>
        <ul id="draftedcards">
          <li>START</li>
        </ul>
      </td>
      <td>
                <ul id="draftedcards2">
          <li>START</li>
        </ul>
      </td>
      <td>
                <ul id="draftedcards3">
          <li>START</li>
        </ul>
      </td>
</footer> -->
</body>
</html>
