<!DOCTYPE html>
<html>
<head>
  <title>MTGDrafter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="pool">
  <h3>Card pool</h3>
  <table>
    <tr>
      <td>
        <div id="draftedcards">
          <h4>Pack 1</h4>
        </div>
      </td>
      <tr>
      <td>
                <div id="draftedcards2">
          <h4>Pack 2</h4>
        </div>
      </td>
    </tr>
    <tr>
      <td>
                <div id="draftedcards3">
          <h4>Pack 3</h4>
        </div>
      </td>
    </tr>
</div>
</body>
</html>
